/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-size */
  --h1-tablet: 4rem;
  --h2-tablet: 2rem;
  --h1-mobile: 2.4rem;
  --h2-mobile: 1.4rem;
  --font-size-l: 1.8rem;
  --font-size-m: 1.6rem;
  --font-size-s: 1.4rem;
  --font-size-xs: 1.2rem;

  /* line height  */
  --line-height-large: 2.6rem;
  --line-height-normal: 2.3rem;
  --line-height-small: 1.8rem;

  /* font-family */
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* colors */
  --linear-bg: linear-gradient();
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D4;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --warm-black-1: #282623;
  --grey: #757575;
  --soft-gray: #bababa;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
}

html {
  font-size: 62.5%;
  font-family: var(--font-dm-sans);
}

/* header */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 320px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header img {
  margin-top: 20px;
  width: 160px;
  height: 30px;
  align-self: center;
}
.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 164px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header__title-container h1 {
  font-size: var(--h1-mobile);
  font-weight: 700;
  color: var(--just-white);
  line-height: var(--line-height-large);
}
.header__title-container p {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--soft-orange);
  line-height: var(--line-height-small);
  margin-top: 20px;
}
.header .header__bottom {
  position: absolute;
  bottom: -19px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 76%;
  height: 38px;
  padding: 10px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  font-size: var(--font-size-s);
  font-weight: 700;
  text-decoration: none;
  color: var(--warm-black);
}

.header__bottom span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 14px;
  background-image: url("./assets/icons/down-arrow.svg");
}

/* main */

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.main__bitcoin-img {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  background-image: url("./assets/img/Bitcoin.svg");
  margin-bottom: 40px;
}
.main__header-title {
  width: 90%;
  height: auto;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__header-title h2 {
  font-size: var(--h1-mobile);
  font-weight: 700;
  color: var(--warm-black);
  line-height: var(--line-height-large);
  margin-bottom: 20px;
}
.main__header-title p {
  font-size: var(--font-size-s);
  font-weight: 500;
  color: var(--gray);
  line-height: var(--line-height-small);
  margin-bottom: 40px;
}
.main__table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--font-inter);
}
.header__title-table {
  margin-bottom: 15px;
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: var(--line-height-normal);
  font-family: var(--font-dm-sans);
  text-align: left;
  padding-left: 16px;
}
.currency__table h3 {
  color: var(--bitcoin-orange);
}
.commissions__table h3 {
  color: var(--secondary-blue);
}
.container__table {
  width: 90%;
  min-width: 230px;
  max-width: 3000px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.container__table table {
  width: 100%;
  height: 100%;
}
.container__table td {
  width: 50%;
  font-size: var(--font-size-m);
  font-weight: 500;
  line-height: var(--line-height-small);
  color: var(--soft-gray);
  background-color: var(--just-white);
  text-align: left;
  padding-left: 16px;
}
.top-table__left {
  border-top-left-radius: 10px;
}
.top-table__right {
  border-top-right-radius: 10px;
}
.bottom-table__left {
  border-bottom-left-radius: 10px;
}
.bottom-table__right {
  border-bottom-right-radius: 10px;
}
.container__table td.table--right {
  color: var(--grey);
  font-size: var(--font-size-s);
  font-weight: 500;
}
.table--right span.down-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  background-image: url("./assets/icons/trending-down.svg");
}
.table--right span.up-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  background-image: url("./assets/icons/trending-up.svg");
}
.footer__table {
  width: 80%;
  height: 31px;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
  border-radius: 8px;
}
.currency--footer {
  background-color: var(--soft-orange);
}
.commissions--footer {
  background-color: var(--soft-blue);
}